# 🛠️ 编辑器与开发工具
/.vscode/
/.hbuilderx/

# 📦 项目依赖
/node_modules/

# 🧹 临时文件
/tmp/

# 🐍 Python 缓存
__pycache__/
*.py[cod]

# 🏗️ UniApp 构建产物（仅保留 H5 Web 构建）
/unpackage/*
!/unpackage/dist/
/unpackage/dist/*
!/unpackage/dist/build/
/unpackage/dist/build/*
!/unpackage/dist/build/web/
!/unpackage/dist/build/web/**
